<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header", {titulo : "Errores"}) %>
    <script src="js/changeTipoError.js"></script>
</head>
<body>
    <%- include("navBar") %>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>Errores</h2>
            </div>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col-12 col-lg-6 border-end border-dark-subtle border-2">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h6>Concepto:</h6>
                        <select class="form-select">
                            <option value="Var">Variables</option>
                            <option value="Cod">Codigo</option>
                        </select>
                    </div>
                    <div class="col-auto me-4">
                        <div class="row">
                            <div class="col">
                                <h6>Ver todos los participantes:</h6>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <a href="" class="btn btn-primary" id="linkErroresDetallados">Ver avisos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-auto">
                        <h6>Participantes con más dificultades:</h6>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Jugador</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col">Ult. Nivel</th>
                                    <th scope="col" class="text-center">Nº errores por nivel</th>
                                </tr>
                            </thead>
                            <tbody id ="tablaJugadores"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 ps-5">
                <div class="row">
                    <div class="col">
                        <h6>Niveles con más errores:</h6>
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Nivel</th>
                                    <th scope="col" class="text-center">Errores</th>
                                    <th scope="col" class="text-center">Jugadores</th>
                                </tr>
                            </thead>
                            <tbody id="tablaNiveles"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>