<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header", {titulo : "Generar Datos"}) %>
</head>
<body>
    <div class="container">
        <div class = "row">
            <div class="col">
                <h2>Generar datos</h2>
                
            </div>
        </div>
    </div>
</body>
</html>