<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include("header", {titulo : "General"}) %>
</head>

<body>
    <%- include("adminBar") %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-start">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">¡Bienvenido a la vista del administrador!</h5>
                        </div>
                        <p class="mb-1">Como administrador, tienes la capacidad de modificar información vital para el funcionamiento de la aplicación. Esto incluye la gestión de cuentas de usuario y las rutas de acceso a diferentes conjuntos de datos.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Gestión de usuarios</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">La gestión de usuarios te permite crear nuevas cuentas y modificar las existentes. Además, puedes seleccionar el rol de cada usuario en la aplicación, brindándote un mayor control sobre los privilegios y permisos de cada cuenta.</p>
                        <small class="text-muted"></small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Gestión de sesiones</h5>
                            <small class="text-muted"></small>
                        </div>
                        <p class="mb-1">Cada sesión en la aplicación contiene trazas específicas. Como administrador, puedes decidir qué trazas formarán parte de una sesión durante su uso. Esta funcionalidad te permite personalizar y adaptar las sesiones según tus necesidades y los objetivos de la aplicación.</p>
                        <small class="text-muted"></small>
                    </a>
                </div>
            </div>
            <div class="col-6 backgroundColor3 d-none d-md-block">

            </div>

          </div>
          
        </div>
    </div>
</body>
</html>
