<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("header", {titulo : "Login"}) %>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center px-5">
                <form method="POST" action="/login">
                    <div class="row mb-5">
                        <h1>Articoding Análisis</h1>
                    </div>
                    <div class="row">
                        <h5 class="p-0">Usuario</h5>
                        <input type="text" class="form-control" name="usuario" id="formUsuario" placeholder="Usuario" aria-label="Username"/>
                    </div>
                    <div class="row mt-4">
                        <h5 class="p-0">Contraseña</h5>
                        <input type="password" class="form-control" name="contrasenia" id="formContrasenia" placeholder="**********"/>
                    </div>
                    <div class="row mt-5">
                        <div class="col text-center">
                            <input type="submit" class="btn btn-primary" value="Iniciar Sesión" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6 backgroundColor3 d-none d-md-block">

            </div>
        </div>
    </div>
</body>
</html>