<!DOCTYPE html>
<html lang="en">

<%- include("header", {titulo : "Resumen"}) %>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <h2>Resultados generales</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 border-end border-dark-subtle border-2">
                <div class="row">
                    <h4>Categorías superadas</h4>
                    <h5 class="mt-3">Número de alumnos: 145</h5>
                </div>
                <div class="row">
                    <div id="plot" class="p-0"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ps-5">
                    <h4 class="p-0">Resultados</h4>
                    <h5 class="mt-3 p-0">Valores medios de la clase</h5>
                </div>
                <div class="row mt-4">
                    <div class="col ps-5">                   
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Categorías</th>
                                <th scope="col">Tiempo</th>
                                <th scope="col">Intentos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Tutorials</th>
                                <td>2m/32s</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Variables</th>
                                <td>2m/32s</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Types</th>
                                <td>2m/32s</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Basic Operators</th>
                                <td>2m/32s</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Loops</th>
                                <td>2m/32s</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Load the JSON file using the fetch() method
        fetch('./tutorials.json')
            .then(response => response.json())
            .then(data => {
                // Create the Plotly graph using the JSON data
                Plotly.newPlot('plot', data.data, data.layout);
            })
            .catch(error => console.error(error));
    </script>
</body>
</html>