<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("header", {titulo : "Sesiones" }) %>
</head>

<body>
    <%- include("adminBar") %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center px-5">
                <h1 class="text-center mt-5">Nueva sesión</h1>
                <div class="d-flex align-items-center justify-content-center">
                    <form action="/admin/rutas" method="post" enctype="multipart/form-data" class="needs-validation"
                        novalidate>
                        <div class="mb-3">
                            <label for="profesor" class="form-label">Profesor:</label>
                            <select name="profesor" id="profesor" class="form-select" required>
                                <% profesores.forEach(function(profesor) { %>
                                    <option value="<%= profesor.nombre %>"><%= profesor.nombre %></option>
                                <% }); %>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, seleccione un profesor.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="archivo" class="form-label">Archivo JSON:</label>
                            <input type="file" name="archivo" id="archivo" class="form-control" accept="application/json" required />
                            <div class="invalid-feedback">
                                Por favor, seleccione un archivo JSON.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" required />
                            <div class="invalid-feedback">
                                Por favor, ingrese un nombre.
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Crear sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 backgroundColor3 d-none d-md-block"></div>
        </div>
    </div>
</body>

</html>
